body{
    background:#061826;
    color:#fff;
    font-family:Arial;
}

.container{
    width:1100px;
    margin:auto;
}

header{
    margin-bottom:20px;
}

.xp-bar{
    height:10px;
    background:#0f2d44;
    border-radius:10px;
}

.xp-fill{
    width:45%;
    height:100%;
    background:#00d4ff;
    border-radius:10px;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.card{
    background:#0b2438;
    padding:20px;
    border-radius:14px;
    min-height:200px;
}
